# DATA CLEANING

### JOB APPROVALS BIS

In [37]:
import pandas as pd
import numpy as np

path = "C:\\Users\\dmehri\\Documents\\DATA\\Long Job Duration\\"

df = pd.read_csv(path + "Long Job Dur - Job Approvals - BIS.csv", low_memory=False)
df["Job Number"] = df["Job Number"].astype(str).map(str.strip)


print ("Only do anlaysis on NBs")
print ("Length before drop", len(df))
df["Job Type"] = df["Job Type"].astype(str).map(str.strip)
df = df[df["Job Type"] == "NB"]
print ("Length after drop", len(df))
print ("Drop pro-cert jobs")
df["Pro-Cert Description"] = df["Pro-Cert Description"].astype(str).map(str.strip)
df = df[df["Pro-Cert Description"] != "Professionally Certified Application"]
print ("Length after drop", len(df))

print ("Drop BSA jobs")
df["BSA Calendar Number"] = df["BSA Calendar Number"].astype(str).map(str.strip)
df = df[df["BSA Calendar Number"] == "nan"]
print ("Length after drop", len(df))

print ("Drop CPC jobs")
df["CPC Calendar Number"] = df["CPC Calendar Number"].astype(str).map(str.strip)
df = df[df["CPC Calendar Number"] == "nan"]
print ("Length after drop", len(df))


df = df.rename(columns={'D_DATE': 'App Process Date'})

#df["Job Type"] = df["Job Type"].astype(str).map(str.strip)
#df = df[df["Job Type"] == "NB"]
#print ("len after drop", len(df))

print ("Drop NAN in app process date")
print ("len before drop", len(df))
df = df.dropna(subset = ['App Process Date'])
print ("len after drop", len(df))



df['Plan Approval Date'] = pd.to_datetime(df['Plan Approval Date'])
#df['Plan Approval Date'] = df['Plan Approval Date'].apply(lambda x: x.date())
df['App Process Date'] = pd.to_datetime(df['App Process Date'])
#df['App Process Date'] = df['App Process Date'].apply(lambda x: x.date())

#print ("Subset for when appointments end in PENS BIS dataset, October 2018")
#end_time = str(10) + '-' + str(1) + '-' + str(2018)

#mask = ( (df['App Process Date'] <= end_time) )

#df = df.loc[mask]

#print ("length after date subset", len(df))


#df['Difference'] = (df['Plan Approval Date'] - df['App Process Date']).dt.days


#pd.bdate_range(df['Plan Approval Date'],df['App Process Date'], freq = 'B')

df["bussDays"] = np.busday_count( df['App Process Date'].values.astype('datetime64[D]'), df['Plan Approval Date'].values.astype('datetime64[D]'))

#df["bussDays"] = df["bussDays"].abs()
print ("drop buss days less than zero", len(df))
df = df[df["bussDays"] >= 0].reset_index(drop=True)
print ("len after drop", len(df))


print ("drop by job number, initial and approval date")
df = df.drop_duplicates(subset=['Job Number', 'Plan Approval Date', 'App Process Date']).reset_index(drop=True)
print ("len after drop", len(df))


numunique = list(set(df["Job Number"].tolist() ))
print (len(numunique))
print ("number of unique job numbers", len(numunique))


df["bussYears"] = df["bussDays"]/365.0


columns = sorted(df.columns)


#df["Filing Representative First Name"] = df["Filing Representative First Name"].astype(str).map(str.strip)
#df["Filing Representative First Name"] = df["Filing Representative First Name"].map(str.upper)
#df["Filing Representative Last Name"] = df["Filing Representative Last Name"].astype(str).map(str.strip)
#df["Filing Representative Last Name"] = df["Filing Representative Last Name"].map(str.upper)
#df["Filing Representative Name"] = df["Filing Representative First Name"] + " " + df["Filing Representative Last Name"]


#df["OT Description"] = df["OT Description"].astype(str).map(str.strip).map(str.upper)
#df["OT Description"] = df["OT Description"].str.replace('.','')
#df["OT Description"] = df["OT Description"].map(str.strip)


print ("Create stories category")

def StoriesCat(x):
    if x < 7:
        return "Low Rise"
    if x >= 7:
        return "High Rise"

df["Stories Category"] = df["Proposed Stories"].apply(StoriesCat)



print ()
print ("Work types")
#df = df.replace({'X': '1'}, regex=True)
#df = df.replace({'Y': '1'}, regex=True)


#COMMON WORK TYPES BETWEEN DOB NOW ANBD BIS
#Boiler
#Mechanical
#Plumbing
#Standpipe
#Construction Equipment
#General Construction
#Curb Cut


worktypesorig = ['Boiler Flag', 'Mechanical Flag',
       'Plumbing Flag', 'Standpipe Flag',
       'Construction Equipment Flag', 'General Construction Flag',
       'Curb Cut Flag' ]


for w in worktypesorig:
    df[w] = df[w].str.replace('X', '1')
    df[w] = df[w].str.replace('Y', '1')

df = df.fillna('0')

df = df.rename(columns={'Boiler Flag': 'Boiler', 
                        'Mechanical Flag': 'Mechanical',
                       'Plumbing Flag':'Plumbing',
                       'Standpipe Flag':'Standpipe',
                       'Construction Equipment Flag':'Construction Equipment',
                       'General Construction Flag':'General Construction',
                       'Curb Cut Flag':'Curb Cut'})



print ("Drop fields not relevant for NB analysis")
dropfields = ["Chute", "Fence", "Enlargement Flag (Yes/No)",
             "Enlargement SQFT", "Construction Material", "Existing Stories", "Existing Zoning Floor Area",
             "Existing Dwelling Units", "Estimated Job Cost", "Other Equipment Flag", "EQ Other Description", 
             "Supported Scaffold", "Sidewalk Shed", "Sidewalk Shed/Linear Feet", "Filing Representative Last Name",
             "Filing Representative First Name"]

df = df.drop(dropfields, 1)




print ("Clean occupancy")
occupancy = sorted(list(set(df["Proposed Occupancy Classification Description"].tolist() )))
print ("len of plan examiners", len(occupancy))
print (sorted(occupancy) )
df['Proposed Occupancy Classification Description'] = df['Proposed Occupancy Classification Description'].str.replace('  ', ' ')
#df['Proposed Occupancy Classification Description'] = df['Proposed Occupancy Classification Description'].str.split(":").str[0]
#df['Proposed Occupancy Classification Description'] = df['Proposed Occupancy Classification Description'].str.split("(").str[0]
df['Proposed Occupancy Classification Description'] = df['Proposed Occupancy Classification Description'].map(str.strip)
df['Proposed Occupancy Classification Description'] = df['Proposed Occupancy Classification Description'].str.replace('EDUCATIONAL', 'EDUCATION')
df['Proposed Occupancy Classification Description'] = df['Proposed Occupancy Classification Description'].str.replace('INSTITUTIONAL', 'INSTITUTION')
df['Proposed Occupancy Classification Description'] = df['Proposed Occupancy Classification Description'].str.replace('RESIDENTIAL: 1 & 2 FAMILY HOUSES', 'RESIDENTIAL 1-2 FAMILY HOUSES')


df['Proposed Occupancy Classification Description'] = df['Proposed Occupancy Classification Description'].str.replace('ASSEMBLY: EATING & DRINKING', 'ASSEMBLY')
df['Proposed Occupancy Classification Description'] = df['Proposed Occupancy Classification Description'].str.replace('ASSEMBLY: INDOOR SPORTS', 'ASSEMBLY')
df['Proposed Occupancy Classification Description'] = df['Proposed Occupancy Classification Description'].str.replace('ASSEMBLY: OTHER', 'ASSEMBLY')
df['Proposed Occupancy Classification Description'] = df['Proposed Occupancy Classification Description'].str.replace('ASSEMBLY: OUTDOORS', 'ASSEMBLY')
df['Proposed Occupancy Classification Description'] = df['Proposed Occupancy Classification Description'].str.replace('ASSEMBLY: THEATERS, CONCERT HALLS', 'ASSEMBLY')

df['Proposed Occupancy Classification Description'] = df['Proposed Occupancy Classification Description'].str.replace('FACTORY/INDUSTRIAL: LOW HAZARD', 'FACTORY INDUSTRIAL')
df['Proposed Occupancy Classification Description'] = df['Proposed Occupancy Classification Description'].str.replace('FACTORY/INDUSTRIAL: MODERATE HAZARD', 'FACTORY INDUSTRIAL')

df['Proposed Occupancy Classification Description'] = df['Proposed Occupancy Classification Description'].str.replace('HIGH HAZARD: ACCELERATED BURNING', 'HIGH HAZARD')
df['Proposed Occupancy Classification Description'] = df['Proposed Occupancy Classification Description'].str.replace('HIGH HAZARD: HEALTH', 'HIGH HAZARD')
df['Proposed Occupancy Classification Description'] = df['Proposed Occupancy Classification Description'].str.replace('HIGH HAZARD: SUPPORTS COMBUSTION', 'HIGH HAZARD')

df['Proposed Occupancy Classification Description'] = df['Proposed Occupancy Classification Description'].str.replace('INSTITUTION: ASSISTED LIVING', 'INSTITUTION')
df['Proposed Occupancy Classification Description'] = df['Proposed Occupancy Classification Description'].str.replace('INSTITUTION: DAY CARE', 'INSTITUTION')
df['Proposed Occupancy Classification Description'] = df['Proposed Occupancy Classification Description'].str.replace('INSTITUTION: INCAPACITATED', 'INSTITUTION')
df['Proposed Occupancy Classification Description'] = df['Proposed Occupancy Classification Description'].str.replace('RESIDENTIAL APT HOUSE', 'RESIDENTIAL: APARTMENT HOUSES')

df['Proposed Occupancy Classification Description'] = df['Proposed Occupancy Classification Description'].str.replace('RESIDENTIAL APT HOUSE', 'RESIDENTIAL: APARTMENT HOUSES')

df['Proposed Occupancy Classification Description'] = df['Proposed Occupancy Classification Description'].str.replace('STORAGE (LOW HAZARD)', 'STORAGE')
df['Proposed Occupancy Classification Description'] = df['Proposed Occupancy Classification Description'].str.replace('STORAGE: LOW HAZARD', 'STORAGE')
df['Proposed Occupancy Classification Description'] = df['Proposed Occupancy Classification Description'].str.replace('STORAGE: MODERATE HAZARD', 'STORAGE')

df['Proposed Occupancy Classification Description'] = df['Proposed Occupancy Classification Description'].str.replace('RESIDENTIAL (HOTELS)', 'RESIDENTIAL: HOTELS, DORMITORIES')


df["Applicant License Number"] = df["Applicant License Number"].astype(str).map(str.strip)
df["Applicant Name"] = df["Applicant First Name"] + " " + df["Applicant Last Name"]

print ()
occupancy = sorted(list(set(df["Proposed Occupancy Classification Description"].tolist() )))
print ("len of plan examiners", len(occupancy))
print (sorted(occupancy))


print ("drop business days less than zero", len(df))
df2= df.copy()
df2 = df2[df2["bussDays"] > 0]
#df2 = df2[df2["bussDays"] <1000]
print ("len after drop", len(df2))

#print ("Mean", df2["bussDays"].mean())
#print ("Standard deviation", df2["bussDays"].std())
#print ("Median", df2["bussDays"].median())
#print ()
#df2["bussDays"].describe()


print ("Plan exam name")
df['Plan Examiner BIS Name'] = df['Plan Examiner BIS Name'].astype(str)
df['Plan Examiner BIS Name'] = df['Plan Examiner BIS Name'].str.replace('.', ' ')
df['Plan Examiner BIS Name'] = df['Plan Examiner BIS Name'].str.replace('PLAN EXAMINER', ' ')
df['Plan Examiner BIS Name'] = df['Plan Examiner BIS Name'].str.replace('PLAN EXAM', ' ')
df['Plan Examiner BIS Name'] = df['Plan Examiner BIS Name'].str.replace('PLAN EXA', ' ')
df['Plan Examiner BIS Name'] = df['Plan Examiner BIS Name'].str.replace('PLAN EX', ' ')
df['Plan Examiner BIS Name'] = df['Plan Examiner BIS Name'].str.replace('S/C ACCESS', ' ')
df['Plan Examiner BIS Name'] = df['Plan Examiner BIS Name'].str.replace('S/C EXAM', ' ')
df['Plan Examiner BIS Name'] = df['Plan Examiner BIS Name'].str.replace('BRONX', ' ')
df['Plan Examiner BIS Name'] = df['Plan Examiner BIS Name'].str.replace('BX', ' ')
df['Plan Examiner BIS Name'] = df['Plan Examiner BIS Name'].str.replace('QUEENS', ' ')
df['Plan Examiner BIS Name'] = df['Plan Examiner BIS Name'].str.replace(' QNS', ' ')
df['Plan Examiner BIS Name'] = df['Plan Examiner BIS Name'].str.replace(' QN', ' ')


df['Plan Examiner BIS Name'] = df['Plan Examiner BIS Name'].str.replace(' BORO COMM', ' ')
df['Plan Examiner BIS Name'] = df['Plan Examiner BIS Name'].str.replace(' CALL 311', ' ')
df['Plan Examiner BIS Name'] = df['Plan Examiner BIS Name'].str.replace(' CALL CTR 311', ' ')
df['Plan Examiner BIS Name'] = df['Plan Examiner BIS Name'].str.replace(' CALL CENTER', ' ')
df['Plan Examiner BIS Name'] = df['Plan Examiner BIS Name'].str.replace(' CALL CENTER', ' ')
df['Plan Examiner BIS Name'] = df['Plan Examiner BIS Name'].str.replace('/BUILD IT BACK', ' ')
df['Plan Examiner BIS Name'] = df['Plan Examiner BIS Name'].str.replace('/ BUILD IT BACK', ' ')


df['Plan Examiner BIS Name'] = df['Plan Examiner BIS Name'].str.replace('BROOKLYN', ' ')
df['Plan Examiner BIS Name'] = df['Plan Examiner BIS Name'].str.replace(' BK', ' ')
df['Plan Examiner BIS Name'] = df['Plan Examiner BIS Name'].str.replace(' (BKLYN)', ' ')
df['Plan Examiner BIS Name'] = df['Plan Examiner BIS Name'].str.replace(' MAN', ' ')
df['Plan Examiner BIS Name'] = df['Plan Examiner BIS Name'].str.replace(' S I', ' ')
df['Plan Examiner BIS Name'] = df['Plan Examiner BIS Name'].str.replace(' S/C', ' ')
#df['Plan Examiner BIS Name'] = df['Plan Examiner BIS Name'].str.replace(' ()', '')
df['Plan Examiner BIS Name'] = df['Plan Examiner BIS Name'].str.replace(' - ', ' ')
df['Plan Examiner BIS Name'] = df['Plan Examiner BIS Name'].str.replace(' LYN', ' ')

df['Plan Examiner BIS Name'] = df['Plan Examiner BIS Name'].str.replace(' ONLY', ' ')
df['Plan Examiner BIS Name'] = df['Plan Examiner BIS Name'].str.replace('(', '')
df['Plan Examiner BIS Name'] = df['Plan Examiner BIS Name'].str.replace(')', '')


df['Plan Examiner BIS Name'] = df['Plan Examiner BIS Name'].str.replace('   ', ' ')
df['Plan Examiner BIS Name'] = df['Plan Examiner BIS Name'].str.replace('  ', ' ')

print ("DONE")

Only do anlaysis on NBs
Length before drop 110702
Length after drop 43693
Drop pro-cert jobs
Length after drop 36470
Drop BSA jobs
Length after drop 34602
Drop CPC jobs
Length after drop 30799
Drop NAN in app process date
len before drop 30799
len after drop 30799
drop buss days less than zero 30799
len after drop 30727
drop by job number, initial and approval date
len after drop 14707
14707
number of unique job numbers 14707
Create stories category

Work types
Drop fields not relevant for NB analysis
Clean occupancy
len of plan examiners 20
['ASSEMBLY: EATING & DRINKING', 'ASSEMBLY: INDOOR SPORTS', 'ASSEMBLY: OTHER', 'ASSEMBLY: OUTDOORS', 'ASSEMBLY: THEATERS, CONCERT HALLS', 'BUSINESS', 'EDUCATIONAL', 'FACTORY/INDUSTRIAL: LOW HAZARD', 'FACTORY/INDUSTRIAL: MODERATE HAZARD', 'HIGH HAZARD: SUPPORTS COMBUSTION', 'INSTITUTION: ASSISTED LIVING', 'INSTITUTION: DAY CARE', 'INSTITUTION: INCAPACITATED', 'MERCANTILE', 'RESIDENTIAL: 1 & 2 FAMILY HOUSES', 'RESIDENTIAL: APARTMENT HOUSES', 'RESIDENTIAL: HOTELS, DORMITORIES', 'STORAGE: LOW HAZARD', 'STORAGE: MODERATE HAZARD', 'UTILITY / MISCELLANEOUS']

len of plan examiners 12
['ASSEMBLY', 'BUSINESS', 'EDUCATION', 'FACTORY INDUSTRIAL', 'HIGH HAZARD', 'INSTITUTION', 'MERCANTILE', 'RESIDENTIAL 1-2 FAMILY HOUSES', 'RESIDENTIAL: APARTMENT HOUSES', 'RESIDENTIAL: HOTELS, DORMITORIES', 'STORAGE', 'UTILITY / MISCELLANEOUS']
drop business days less than zero 14707
len after drop 14706
Plan exam name
DONE

### Normalize Skewed Continus Variables

Estimated Fee

In [38]:
print (len(df))
df = df[df["J_TOTAL_ESTIMATED_FEE"] < 1000000]
print (len(df))


df["EstFeeLogNorm"] = np.log(df["J_TOTAL_ESTIMATED_FEE"])
estfeedesc = df["EstFeeLogNorm"].describe()
estfeedesc[7]
df["EstFeeLogNorm"] = df["EstFeeLogNorm"]/estfeedesc[7]

df["EstFeeLogNorm"].describe()

14707
14706

count    14706.000000
mean         0.535808
std          0.127973
min          0.341232
25%          0.440563
50%          0.511317
75%          0.606157
max          1.000000
Name: EstFeeLogNorm, dtype: float64

Proposed Zoning Floor Area

In [39]:
print (len(df))
df = df[df["Proposed Zoning Floor area"] < 1000000]
print (len(df))

df["ZoningFloorLogNorm"] = np.log(df["Proposed Zoning Floor area"] + 1)
estfeedesc = df["ZoningFloorLogNorm"].describe()
estfeedesc[7]
df["ZoningFloorLogNorm"] = df["ZoningFloorLogNorm"]/estfeedesc[7]

df["ZoningFloorLogNorm"].describe()

14706
14669

count    14669.000000
mean         0.613318
std          0.129698
min          0.000000
25%          0.555478
50%          0.608537
75%          0.677185
max          1.000000
Name: ZoningFloorLogNorm, dtype: float64

Dwelling Units

In [40]:
df["Proposed Dwelling Units"] = df["Proposed Dwelling Units"].astype(int)
df["DwellUnitsLogNorm"] = np.log(df["Proposed Dwelling Units"] + 1)
estfeedesc = df["DwellUnitsLogNorm"].describe()
estfeedesc[7]
df["DwellUnitsLogNorm"] = df["DwellUnitsLogNorm"]/estfeedesc[7]
df["DwellUnitsLogNorm"].describe()

count    14669.000000
mean         0.222174
std          0.196443
min          0.000000
25%          0.099681
50%          0.157990
75%          0.315980
max          1.000000
Name: DwellUnitsLogNorm, dtype: float64

FAR

In [41]:
print (len(df))
df = df[df["Floor Area Ratio (FAR)  Floor Area"] < 900000]
print (len(df))

df["FARLogNorm"] = np.log(df["Floor Area Ratio (FAR)  Floor Area"] +1 )
estfeedesc = df["FARLogNorm"].describe()
estfeedesc[7]
df["FARLogNorm"] = df["FARLogNorm"]/estfeedesc[7]
df["FARLogNorm"].describe()

14669
14662

count    14662.000000
mean         0.588473
std          0.116761
min          0.000000
25%          0.540515
50%          0.591337
75%          0.644218
max          1.000000
Name: FARLogNorm, dtype: float64

In [258]:
#df2.to_csv(path + "Long Job Duration BIS 2.csv", index=False)

df.to_csv(path + "test.csv", index=False)

#df.to_csv(path + "test.csv", index=False)

### PLAN EXAMS

In [42]:
df2 = df.copy()

pd.set_option('chained_assignment', None)

da = pd.read_csv(path + "Long Duration Plan Exam Report Darius.csv", low_memory=False)
print (len(da))

da["J_JOB_NUMBER"] = da["J_JOB_NUMBER"].astype(str)

#da2 = da[["Examiner Name"]]
#da2["Exam Count"] = 1

#daG = da2.groupby(['Examiner Name']).sum()
#daG = daG.add_suffix('').reset_index()

dac = da[["J_JOB_NUMBER"]]
dac["Plan Exam Count"] = 1
dac = dac.groupby(['J_JOB_NUMBER']).sum()
dac = dac.add_suffix('').reset_index()


dac = dac.sort_values(by = 'Plan Exam Count', ascending=False).reset_index(drop=True)

dacDic = dac.set_index('J_JOB_NUMBER')['Plan Exam Count'].to_dict()

df2["Plan Exam Count"] = df2["Job Number"].map(dacDic)

print ("Total number appointments after grouped", dac["Plan Exam Count"].sum() )
print ("Total number of appointments merged into df", df2["Plan Exam Count"].sum() )

print ("Drop job filings with nan plan exam counts")
df2 = df2.dropna(subset = ['Plan Exam Count'])

print ("len after drop", len(df2))

364623
Total number appointments after grouped 364623
Total number of appointments merged into df 92269.0
Drop job filings with nan plan exam counts
len after drop 14649

### PLAN EXAMINER ANALYSIS

In [161]:
"""
dp = df2[["Plan Examiner BIS Name", "Plan Exam Count"]]
dp["Job Count"] = 1

dp2 = (dp.groupby('Plan Examiner BIS Name').agg({'Job Count':'sum', 'Plan Exam Count': 'sum'}).reset_index().rename(columns={'Job_Number':'Job_Number_count'}) )

#dp = dp.groupby(['Plan Examiner BIS Name']).sum()
#dp = dp.add_suffix('').reset_index()
dp2["Avg Number Plan Exams"] = dp2["Plan Exam Count"]/dp2["Job Count"]

dp3 = (dp.groupby('Plan Examiner BIS Name').agg({'Plan Exam Count':'median'}).reset_index().rename(columns={'Job_Number':'Job_Number_count'}) )

dp3Dic = dp3.set_index('Plan Examiner BIS Name')['Plan Exam Count'].to_dict()

dp2["Median Number Plan Exams"] = dp2["Plan Examiner BIS Name"].map(dp3Dic)

dp2["Above Upper Quartile"] = "No"
dp2["Above One Standard Dev"] = "No"

for i in range(0, len(dp2)):
    if dp2["Median Number Plan Exams"][i] > 8:
        dp2["Above Upper Quartile"][i] = "Yes"
        
    if dp2["Avg Number Plan Exams"][i] > 10.7:
        dp2["Above One Standard Dev"][i] = "Yes"

print (df2["Plan Exam Count"].describe())

#dp.to_csv
dp2

"""

'\ndp = df2[["Plan Examiner BIS Name", "Plan Exam Count"]]\ndp["Job Count"] = 1\n\ndp2 = (dp.groupby(\'Plan Examiner BIS Name\').agg({\'Job Count\':\'sum\', \'Plan Exam Count\': \'sum\'}).reset_index().rename(columns={\'Job_Number\':\'Job_Number_count\'}) )\n\n#dp = dp.groupby([\'Plan Examiner BIS Name\']).sum()\n#dp = dp.add_suffix(\'\').reset_index()\ndp2["Avg Number Plan Exams"] = dp2["Plan Exam Count"]/dp2["Job Count"]\n\ndp3 = (dp.groupby(\'Plan Examiner BIS Name\').agg({\'Plan Exam Count\':\'median\'}).reset_index().rename(columns={\'Job_Number\':\'Job_Number_count\'}) )\n\ndp3Dic = dp3.set_index(\'Plan Examiner BIS Name\')[\'Plan Exam Count\'].to_dict()\n\ndp2["Median Number Plan Exams"] = dp2["Plan Examiner BIS Name"].map(dp3Dic)\n\ndp2["Above Upper Quartile"] = "No"\ndp2["Above One Standard Dev"] = "No"\n\nfor i in range(0, len(dp2)):\n    if dp2["Median Number Plan Exams"][i] > 8:\n        dp2["Above Upper Quartile"][i] = "Yes"\n        \n    if dp2["Avg Number Plan Exams"][i] > 10.7:\n        dp2["Above One Standard Dev"][i] = "Yes"\n\nprint (df2["Plan Exam Count"].describe())\n\n#dp.to_csv\ndp2\n\n'

In [162]:
#dp2.to_csv(path + "Plan Examiner Stats.csv", index=False)

In [594]:
#da.to_csv(path + "test.csv", index=False)

In [530]:
#df2.to_csv(path + "test.csv", index=False)

In [42]:
#print (df2["Plan Exam Count"].describe())

In [204]:
#df2.to_csv(path + "Long Job Duration BIS 2.csv", index=False)

In [414]:
"""
df2 = df2.reset_index(drop=True)
countzeros = ['Proposed Stories', 'Proposed Zoning Floor area', 'BIN Number',
       'Lot Area (sqft)',
       'J_BALANCE_DUE', 'Difference', 'bussDays', 'bussYears',
       'Appointment Count',"Proposed Dwelling Units", "Lot Area (sqft)", "Floor Area Ratio (FAR)  Floor Area", 
        "J_TOTAL_ESTIMATED_FEE" ]

for p in countzeros:
    print (p)
    dfcountzeros = df2.copy()
    dfcountzeros = dfcountzeros[dfcountzeros[p] == 0.0]
    print ("percent zero value:", 100*( float(len(dfcountzeros))/len(df2) )    )
    print ()
    
#dfcountzeros = df2.copy()
#dfcountzeros = dfcountzeros[dfcountzeros["Lot Area (sqft)"] == 0.0].reset_index(drop=True)    
#print ("percent:", 100*( float(len(dfcountzeros))/len(df2) )    )
"""

'\ndf2 = df2.reset_index(drop=True)\ncountzeros = [\'Proposed Stories\', \'Proposed Zoning Floor area\', \'BIN Number\',\n       \'Lot Area (sqft)\',\n       \'J_BALANCE_DUE\', \'Difference\', \'bussDays\', \'bussYears\',\n       \'Appointment Count\',"Proposed Dwelling Units", "Lot Area (sqft)", "Floor Area Ratio (FAR)  Floor Area", \n        "J_TOTAL_ESTIMATED_FEE" ]\n\nfor p in countzeros:\n    print (p)\n    dfcountzeros = df2.copy()\n    dfcountzeros = dfcountzeros[dfcountzeros[p] == 0.0]\n    print ("percent zero value:", 100*( float(len(dfcountzeros))/len(df2) )    )\n    print ()\n    \n#dfcountzeros = df2.copy()\n#dfcountzeros = dfcountzeros[dfcountzeros["Lot Area (sqft)"] == 0.0].reset_index(drop=True)    \n#print ("percent:", 100*( float(len(dfcountzeros))/len(df2) )    )\n'

In [209]:
origzones = sorted(list(set(df2["Zoning District"] )))
#origzones

In [43]:
df2 = df2.reset_index(drop=True)
df2["Zoning District"] = df2["Zoning District"].astype(str)
df2["Zoning District2"] = df2['Zoning District'].str.split("-").str[0]


zonedic = {'C1':'C_Local_Retail_Service',
          'C2':'C_Local_Retail_Service',
          'C3':'C_Waterfront_Recreation',
          'C3A':'C_Waterfront_Recreation',
          'C4':'C_Contextual_Non_Contextual_General',
          'C5':'C_Restricted',
          'C6':'C_General_Central',
          'C7':'C_Ammusement', 
          'C8':'C_General_Service',
          'M1':'M_Light',
          'M2':'M_Medium',
          'M3':'M_Heavy',
           
           
          'R1':'R_Low_Density_Non_Contextual',
           'R2':'R_Low_Density_Non_Contextual',
           'R2A':'R_Low_Density_Non_Contextual',
           'R2X':'R_Low_Density_Non_Contextual',
           'R3':'R_Low_Density_Non_Contextual',
           'R3A':'R_Low_Density_Non_Contextual',
           'R3X':'R_Low_Density_Non_Contextual',
           
           'R4':'R_Low_Density_Non_Contextual',
           'R4A':'R_Low_Density_Non_Contextual',
           'R4B':'R_Low_Density_Non_Contextual',
           
           'R5':'R_Low_Density_Non_Contextual',
           'R5A':'R_Low_Density_Non_Contextual',
           'R5B':'R_Low_Density_Non_Contextual',
           'R5D':'R_Low_Density_Non_Contextual',
           
           'R6':'R_Medium_Density_Non_Contextual',
           'R6A':'R_Medium_Density_Non_Contextual',
           'R6B':'R_Medium_Density_Non_Contextual',

          'R7':'R_Medium_Density_Non_Contextual',
           'R7A':'R_Medium_Density_Non_Contextual',
           'R7B':'R_Medium_Density_Non_Contextual',
           'R7D':'R_Medium_Density_Non_Contextual',
           'R7X':'R_Medium_Density_Non_Contextual',
           
           'R8':'R_Medium_Density_Non_Contextual',
           'R8A':'R_Medium_Density_Non_Contextual',
           'R8B':'R_Medium_Density_Non_Contextual',
           'R8X':'R_Medium_Density_Non_Contextual',
           
              
           'R9':'R_High_Density_Non_Contextual',
           'R9A':'R_High_Density_Non_Contextual',
           'R9D':'R_High_Density_Non_Contextual',
           'R9X':'R_High_Density_Non_Contextual',
           
           'R10':'R_High_Density_Non_Contextual',
           'R10A':'R_High_Density_Non_Contextual',
           'R10X':'R_High_Density_Non_Contextual',
         

          }

df2["Zoning District2"] = df2["Zoning District2"].map(zonedic)
df2["Zoning District2"] =  df2["Zoning District2"].astype(str)

zoning = sorted(list(set(df2["Zoning District2"].tolist() )))


for i in range(0, len(df2)):
    if "/" in df2["Zoning District"][i]:
        df2["Zoning District2"][i] = "M_Light_R_Low_Medium_Density_Non_Contextual"


#zoning

In [44]:
df3 = df2.copy()

subset = ['Job Number','BIN Number', "Borough Name", "Job Location House Number", "Job Location Street Name",   
          'Boiler', 'Mechanical', 'Plumbing', 'Standpipe', 'Construction Equipment', 'General Construction', 'Curb Cut',
         'Proposed Occupancy Classification Description',
         'Primary Structural System Description', 'Community Board','Zoning District2',
         'Proposed Lot Detail : Lot Type Description',
          'Enclosed Parking (Y/N)', 'Yard Flag (Y/N)', 
          'Stories Category', 'Applicant Name', 'Plan Exam Count', "EstFeeLogNorm", 
          "ZoningFloorLogNorm", "DwellUnitsLogNorm", "FARLogNorm"]

df3 = df3[subset]

In [45]:
for col in df3.columns:
    print (col)

Job Number
BIN Number
Borough Name
Job Location House Number
Job Location Street Name
Boiler
Mechanical
Plumbing
Standpipe
Construction Equipment
General Construction
Curb Cut
Proposed Occupancy Classification Description
Primary Structural System Description
Community Board
Zoning District2
Proposed Lot Detail : Lot Type Description
Enclosed Parking (Y/N)
Yard Flag (Y/N)
Stories Category
Applicant Name
Plan Exam Count
EstFeeLogNorm
ZoningFloorLogNorm
DwellUnitsLogNorm
FARLogNorm

In [189]:
df3.to_csv(path + "Long Duration Category Analysis.csv", index=False)

In [185]:
df3.dtypes

Job Number                                        object
BIN Number                                         int64
Borough Name                                      object
Job Location House Number                         object
Job Location Street Name                          object
Boiler                                            object
Mechanical                                        object
Plumbing                                          object
Standpipe                                         object
Construction Equipment                            object
General Construction                              object
Curb Cut                                          object
Proposed Occupancy Classification Description     object
Proposed Zoning Floor area                         int64
FloorAreaCat                                      object
Proposed Dwelling Units                           object
Primary Structural System Description             object
Community Board                                   object
J_TOTAL_ESTIMATED_FEE                            float64
EstFeeCat                                         object
Zoning District2                                  object
Proposed Lot Detail : Lot Type Description        object
Lot Area (sqft)                                    int64
Enclosed Parking (Y/N)                            object
Yard Flag (Y/N)                                   object
Floor Area Ratio (FAR)  Floor Area               float64
Stories Category                                  object
Applicant Name                                    object
Plan Exam Count                                  float64
Outcome                                            int64
dtype: object

In [5]:
#those = sorted(list(set(df3["Proposed Lot Detail : Lot Type Description"].tolist() )))
#those

In [6]:
#df2.to_csv(path + "test.csv", index=False)

### CREATE OUTCOME VARIABLE

In [46]:
pd.set_option('chained_assignment', None)

len(df)

#df2["LongDur"] = 0

#for i in range(0, len(df)):
#    if df["bussDays"][i] > 30:
#        df["LongDur"][i] = 1

def LongDur(x):
    if x <= 5:
        return 0
    if x > 5:
        return 1

df3["Outcome"] = df3["Plan Exam Count"].apply(LongDur)
       
        
print ("len of df", len(df3))
print ("number of long dur", df3["Outcome"].sum())
print ("percent long dur", float(df3["Outcome"].sum())/len(df) )

len of df 14649
number of long dur 6712
percent long dur 0.4577820215523121

In [220]:
df3["Lot Area (sqft)"].describe()

count     14694.000000
mean      17681.280387
std       76902.238307
min           1.000000
25%        2500.000000
50%        4000.000000
75%        7115.750000
max      999999.000000
Name: Lot Area (sqft), dtype: float64

In [124]:
#df3.to_csv(path + "Plan Exam Count.csv", index=False)
df3.to_csv(path + "Long Duration Category Analysis.csv", index=False)

In [219]:
df3.dtypes

Job Number                                        object
BIN Number                                         int64
Borough Name                                      object
Job Location House Number                         object
Job Location Street Name                          object
Boiler                                            object
Mechanical                                        object
Plumbing                                          object
Standpipe                                         object
Construction Equipment                            object
General Construction                              object
Curb Cut                                          object
Proposed Occupancy Classification Description     object
Proposed Zoning Floor area                         int64
FloorAreaCat                                      object
Proposed Dwelling Units                           object
DwellingUnitCat                                   object
Primary Structural System Description             object
Community Board                                   object
J_TOTAL_ESTIMATED_FEE                            float64
EstFeeCat                                         object
Zoning District2                                  object
Proposed Lot Detail : Lot Type Description        object
Lot Area (sqft)                                    int64
Enclosed Parking (Y/N)                            object
Yard Flag (Y/N)                                   object
Floor Area Ratio (FAR)  Floor Area               float64
Stories Category                                  object
Applicant Name                                    object
Plan Exam Count                                  float64
Outcome                                            int64
dtype: object

### APPLICANT ANALYSIS

### RANDOM SORT AND UPSAMPLE

In [47]:
dfinal=df3.copy()
#dfinal = dfinal.rename(columns={'Appointment Count': 'Plan Exam Count'})


"""
from sklearn.utils import resample
# Separate majority and minority classes
df_majority = df2[df2.Outcome==0]
df_minority = df2[df2.Outcome==1]

print ("Size of majority class", len(df_majority) )
print ("Size of minority class", len(df_minority) )

lenMajority = len(df_majority)


# Upsample minority class
df_minority_upsampled = resample(df_minority, 
                                 replace=True,     # sample with replacement
                                 n_samples=lenMajority, # to match majority class
                                 random_state=123) # reproducible results

print ( "Size of minority class upsampled", len(df_minority_upsampled) )

# Combine majority class with upsampled minority class
df2 = pd.concat([df_majority, df_minority_upsampled])
df2 = df2.reset_index(drop=True)
 
print ( "Display new class counts" )
df2.Outcome.value_counts()

df2 = df2.fillna(0)

print ("Display new class counts" )
df2.Outcome.value_counts()

"""
print ("Randomly sort dfinal" )
dfinal["Index"] = dfinal.index
dfinal = dfinal.sample(frac=1)
dfinal = dfinal.reset_index(drop=True)

print ("Size of final dataset ", len(dfinal) )

Randomly sort dfinal
Size of final dataset  14649

### MAKE DUMMIES AND BUILD MODEL

In [136]:
#df3.to_csv(path + "Long Job Duration BIS 3.csv")

In [228]:
#df["EstFeeCat"] = df["J_TOTAL_ESTIMATED_FEE"].apply(EstimatedFee)
categories = set(df["FARCat"].tolist() )
print (categories)

{'FAR_MidHigh', 'FAR_High', 'FAR_MidLow', 'FAR_Low'}

In [48]:
#dfinal = df3.copy()


#dfinal = dfinal.drop('Enclosed Parking (Y/N)', 1)
#dfinal = dfinal.drop('Yard Flag (Y/N)', 1)
#dfinal = dfinal.drop('Plan Examiner BIS Name', 1)

def MakeDummies(df):
    print ("Parking and yard flags")
    df["Enclosed Parking (Y/N)"] = df["Enclosed Parking (Y/N)"].str.replace('Y', '1')
    df["Enclosed Parking (Y/N)"] = df["Enclosed Parking (Y/N)"].str.replace('N', '0')
    df["Enclosed Parking (Y/N)"] = df["Enclosed Parking (Y/N)"].astype(int)

    df["Yard Flag (Y/N)"] = df["Yard Flag (Y/N)"].str.replace('Y', '1')
    df["Yard Flag (Y/N)"] = df["Yard Flag (Y/N)"].str.replace('N', '0')
    df["Yard Flag (Y/N)"] = df["Yard Flag (Y/N)"].astype(int)
    
    """
    print ("Estimated fee")
    dummies = pd.get_dummies(df["EstFeeCat"],prefix='F' )
    print (len(dummies), len(df))
    df = pd.concat([df, dummies], axis=1)
    df = df.drop('EstFeeCat', 1)
    df = df.drop('J_TOTAL_ESTIMATED_FEE', 1)
    
    print ("Proposed zoning floor area")
    dummies = pd.get_dummies(df["FloorAreaCat"],prefix='FA' )
    print (len(dummies), len(df))
    df = pd.concat([df, dummies], axis=1)
    df = df.drop('FloorAreaCat', 1)
    df = df.drop('Proposed Zoning Floor area', 1)
    
    print ("Proposed dwelling units")
    dummies = pd.get_dummies(df["DwellingUnitCat"],prefix='DU' )
    print (len(dummies), len(df))
    df = pd.concat([df, dummies], axis=1)
    df = df.drop('DU_0', 1)
    df = df.drop('DwellingUnitCat', 1)
    df = df.drop('Proposed Dwelling Units', 1)
    
    print ("FAR")
    dummies = pd.get_dummies(df["FARCat"],prefix='FAR' )
    print (len(dummies), len(df))
    df = pd.concat([df, dummies], axis=1)
    df = df.drop('FARCat', 1)
    df = df.drop('Floor Area Ratio (FAR)  Floor Area', 1)
    
    #df["FARCat"] = df["Floor Area Ratio (FAR)  Floor Area"].apply(FAR)
    """
    

    print ("Occupancy classification")
    dummies = pd.get_dummies(df["Proposed Occupancy Classification Description"],prefix='O' )
    print (len(dummies), len(df))
    df = pd.concat([df, dummies], axis=1)
    df = df.drop('Proposed Occupancy Classification Description', 1)

    print ("Building materials")
    dummies = pd.get_dummies(df["Primary Structural System Description"],prefix='S' )
    print (len(dummies), len(df))
    df = pd.concat([df, dummies], axis=1)
    df = df.drop('Primary Structural System Description', 1)

    print ("Zoning")
    dummies = pd.get_dummies(df["Zoning District2"],prefix='Z' )
    dummies = dummies.drop('Z_nan', 1)
    print (len(dummies), len(df))
    df = pd.concat([df, dummies], axis=1)
    df = df.drop('Zoning District2', 1)

    print ("Lot detail")
    dummies = pd.get_dummies(df["Proposed Lot Detail : Lot Type Description"],prefix='L' )
    print (len(dummies), len(df))
    df = pd.concat([df, dummies], axis=1)
    df = df.drop('Proposed Lot Detail : Lot Type Description', 1)


    print ("Stories category")
    dummies = pd.get_dummies(df["Stories Category"] )
    print (len(dummies), len(df))
    df = pd.concat([df, dummies], axis=1)
    df = df.drop('Stories Category', 1)

    """
    print ("Applicants")
    dfapp = df[[ "Applicant Name", "Appointment Count"] ]
    dfapp["Applicant Name"] = dfapp["Applicant Name"].map(str.strip)
    dfapp["Job Count"] = 1
    dfapp = dfapp.groupby(['Applicant Name']).sum()
    dfapp = dfapp.add_suffix('').reset_index()

    #print (dfapp["Job Count"].describe())

    dfapp["Average Appointment Count"] = dfapp["Appointment Count"]/dfapp["Job Count"]

    applicantKeepList = []

    for i in range(0, len(dfapp)):
        if dfapp["Job Count"][i] > 10:
            applicantKeepList.append(dfapp["Applicant Name"][i])

    dummies = pd.get_dummies(df["Applicant Name"])
    print ("dummies shape:", dummies.shape)
    dummies = dummies[applicantKeepList]
    print ("dummies shape:", dummies.shape)
    df = pd.concat([df, dummies], axis=1)
    """



    df = df.drop('Applicant Name', 1)

    #print ("df shape:",df.shape )



    print ("Community board")
    df["Community Board"] = df["Community Board"].astype(str)
    df["Community Board"] = df["Community Board"].str.split(".").str[0]
    dfcb = df[[ "Community Board"] ]
    dfcb["Community Board"] = dfcb["Community Board"].astype(str).map(str.strip)
    dfcb["Job Count"] = 1
    dfcb = dfcb.groupby(['Community Board']).sum()
    dfcb = dfcb.add_suffix('').reset_index()

    #dfcb["Average Appointment Count"] = dfcb["Plan Exam Count"]/dfcb["Job Count"]
    cbKeepList = []
    for i in range(0, len(dfcb)):
        if dfcb["Job Count"][i] > 10:
            cbKeepList.append(dfcb["Community Board"][i])

    dummies = pd.get_dummies(df["Community Board"])
    print ("dummies shape:", dummies.shape)
    dummies = dummies[cbKeepList]
    print ("dummies shape:", dummies.shape)        
    df = pd.concat([df, dummies], axis=1)
    df = df.drop('Community Board', 1)
    print ("df shape:",df.shape )

    df = df.drop('Plan Exam Count', 1)
    
    return df




dfinal = MakeDummies(dfinal)
#print ()
#print ("X_test shape:", dfinal.shape)

Parking and yard flags
Occupancy classification
14649 14649
Building materials
14649 14649
Zoning
14649 14649
Lot detail
14649 14649
Stories category
14649 14649
Community board
dummies shape: (14649, 67)
dummies shape: (14649, 59)
df shape: (14649, 119)

# MODEL SELECTION

In [49]:
def DropVars(df):
    df = df.drop('Index', 1)
    df = df.drop('Job Number', 1)
    df = df.drop('BIN Number', 1)
    df = df.drop('Borough Name', 1)
    df = df.drop('Job Location House Number', 1)
    df = df.drop('Job Location Street Name', 1)
    
    #df = df.drop('Proposed Zoning Floor area', 1)
    #df = df.drop('Lot Area (sqft)', 1)

    
    return df

In [52]:

import pandas as pd
import numpy as np
import math

    
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier


from sklearn.model_selection import train_test_split
#from adspy_shared_utilities import plot_class_regions_for_classifier_subplot
#create data
from sklearn.model_selection import train_test_split
from sklearn.datasets import make_classification, make_blobs
from sklearn.dummy import DummyClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.metrics import classification_report
from sklearn.metrics import roc_curve, auc
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import GridSearchCV

    
model_selection = []
    
def AccuracyAndAUC(model, clf, X_test, y_test, a, b):
    a = "(" + a + ","
    b = b + ")"
    accuracy_param = a + b
    clf_predicted = clf.predict(X_test)
        
    pred_prob = clf.predict_proba(X_test)[:,1]
    roc=roc_auc_score(y_test, pred_prob)
    #print ('AUC:', round(roc, 2))

        
    #clf_predicted = clf.predict(X_test)
    #confusion = confusion_matrix(y_test, clf_predicted)

    #print('Classifier Confusion Matrix\n', confusion)
    #print()
        
    model_selection.append([model,accuracy_param, clf.score(X_train, y_train), accuracy_score(y_test, clf_predicted),
                               precision_score(y_test, clf_predicted),recall_score(y_test, clf_predicted), 
                                f1_score(y_test, clf_predicted), roc])
        
        
    

y = dfinal["Outcome"]
X = dfinal.drop('Outcome', 1)
#X = X.drop('Bin', 1)
#X = X.drop('CB Number', 1)

#Create training, validation and test datasets
#from sklearn.model_selection import train_test_split
#X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 0)
lengthdf2 = int(len(df2))
lengthdf2_20perc = int(lengthdf2*0.20)
lengthdf2_60perc = int(lengthdf2*0.60)

print (lengthdf2_60perc)
print (lengthdf2_20perc)

y_train = y[0:lengthdf2_60perc]
X_train = X[0:lengthdf2_60perc]
X_train = DropVars(X_train)

y_test = y[lengthdf2_60perc:lengthdf2_60perc + lengthdf2_20perc]
X_test = X[lengthdf2_60perc:lengthdf2_60perc + lengthdf2_20perc]
X_test = DropVars(X_test)

X_hold = X[lengthdf2_60perc + lengthdf2_20perc:]
y_hold = y[lengthdf2_60perc + lengthdf2_20perc:]

print ("Make original data for holdout to merge later with holdout results")
holdOrigData = df3[lengthdf2_60perc + lengthdf2_20perc:]


#test baseline using dummy classifier
dummy_majority = DummyClassifier(strategy = 'most_frequent').fit(X_train, y_train)
    
print ("Baseline Accuracy: Dummy majority score:", round(dummy_majority.score(X_test, y_test), 2) )
print ()

print ("IMPLEMENT GBT MODELS")


#GRADIENT BOOSTED DECISION TREES
print ("GRADIENT BOOSTED DECISION TREES")
print ("Gradient boosting default parameters")
clf = GradientBoostingClassifier(random_state = 0)
clf.fit(X_train, y_train)
model = "Gradient Boosted Dec Trees"
a = "default"
b = "default"
AccuracyAndAUC(model, clf, X_test, y_test, a, b)
#PlotROC(clf, X_test, y_test)




#print ()
print ("GBT")
print ("Adjusting gradient boosted learning rate and depth")
learn_rate = [0.01, 0.04, 0.06, 0.08, 0.1, 0.2,0.4, 0.6]
max_depth = [2,4, 6]
    
for learn in learn_rate:
    for depth in max_depth:
        clf = GradientBoostingClassifier(learning_rate = learn, max_depth = depth, random_state = 0)
        clf.fit(X_train, y_train)
        a = "learning rate:" + str(learn)
        b = "maximum depth:" + str(depth)
        AccuracyAndAUC(model, clf, X_test, y_test, a, b)
"""

print ("Neural networks")
#hidden_layers = [(10), (20), (30), (40), (50), (60), (70), (80), (90), (100) ]

#hidden_layers = [(100,100,100) ]

hidden_layers = [(10), (20), (30), (40), (50), (60), (70), (80), (90), (100), (150), (200),
                 (10,10), (20,20), (30,30), (40,40), 
                 (50,50), (60,60), (70,70),
                 (10,10,10), (20,20,20), (30,30,30), 
                 (40,40,40), (50,50,50), (60,60,60), (70,70,70)]

#hidden_layers = [(20),  (40),(60), (80), (100), (120), (140), (160), (180), (200),
#                 (20,20), (40,40), (60,60), (80,80), (100,100), (120,120), (140,140), (160,160), (180, 180), (200,200),
#                (20,20,20), (40,40,40), (60,60,60), (80,80,80), (100,100,100), (120,120,120), (140,140,140), (160,160,160),
#                (180,180, 180), (200, 200, 200), (250, 250, 250),(300, 300, 300)  ]

iterations = 1000

#NEURAL NETWORKS
print ("Neural Networks")

for layer in hidden_layers:
    clf = MLPClassifier(hidden_layer_sizes = layer, max_iter=iterations) 
    clf.fit(X_train, y_train)
    modelstr = "Neural Networks"
    a = str(layer)
    b = str(iterations)
    print (modelstr, a)
    AccuracyAndAUC(modelstr, clf, X_test, y_test, a, b)
       
"""     


df_model = pd.DataFrame(model_selection, columns=('Model','Parameters', 'Training Score', 'Test Score', 'Precision', 'Recall', 'F1', 'AUC'))

8789
2929
Make original data for holdout to merge later with holdout results
Baseline Accuracy: Dummy majority score: 0.54

IMPLEMENT GBT MODELS
GRADIENT BOOSTED DECISION TREES
Gradient boosting default parameters
GBT
Adjusting gradient boosted learning rate and depth

In [53]:
df_model = df_model.sort_values(by = 'Recall', ascending=False).reset_index(drop=True)

df_model["Diff"] = df_model["Training Score"] - df_model["Test Score"]
#df_model = df_model.sort_values(by = 'Diff', ascending=True).reset_index(drop=True)


df_model

,Model,Parameters,Training Score,Test Score,Precision,Recall,F1,AUC,Diff
0,Gradient Boosted Dec Trees,"(learning rate:0.1,maximum depth:6)",0.799636,0.688290,0.667690,0.644444,0.655861,0.756357,0.111346
1,Gradient Boosted Dec Trees,"(learning rate:0.04,maximum depth:4)",0.705882,0.682144,0.658832,0.643704,0.651180,0.749144,0.023738
2,Gradient Boosted Dec Trees,"(learning rate:0.06,maximum depth:6)",0.766640,0.687948,0.667435,0.643704,0.655354,0.755708,0.078692
3,Gradient Boosted Dec Trees,"(learning rate:0.04,maximum depth:6)",0.753783,0.684875,0.664105,0.640000,0.651829,0.757362,0.068908
4,Gradient Boosted Dec Trees,"(learning rate:0.06,maximum depth:4)",0.715667,0.684875,0.664865,0.637778,0.651040,0.750776,0.030792
5,Gradient Boosted Dec Trees,"(learning rate:0.2,maximum depth:4)",0.768461,0.684193,0.664856,0.634815,0.649488,0.751786,0.084268
6,Gradient Boosted Dec Trees,"(learning rate:0.2,maximum depth:6)",0.861418,0.682144,0.662277,0.633333,0.647482,0.749748,0.179274
7,Gradient Boosted Dec Trees,"(learning rate:0.08,maximum depth:6)",0.785527,0.685900,0.668495,0.631852,0.649657,0.755009,0.099628
8,Gradient Boosted Dec Trees,"(learning rate:0.08,maximum depth:4)",0.722266,0.683851,0.665625,0.631111,0.647909,0.751589,0.038415
9,Gradient Boosted Dec Trees,"(learning rate:0.2,maximum depth:2)",0.700876,0.683168,0.664844,0.630370,0.647148,0.748850,0.017708
10,Gradient Boosted Dec Trees,"(learning rate:0.1,maximum depth:4)",0.730572,0.682827,0.664839,0.628889,0.646365,0.750810,0.047745
11,Gradient Boosted Dec Trees,"(learning rate:0.4,maximum depth:2)",0.720560,0.686924,0.671962,0.626667,0.648524,0.747593,0.033636
12,Gradient Boosted Dec Trees,"(learning rate:0.08,maximum depth:2)",0.688019,0.678730,0.659392,0.626667,0.642613,0.740971,0.009289
13,Gradient Boosted Dec Trees,"(default,default)",0.705541,0.678389,0.660126,0.622963,0.641006,0.748751,0.027152
14,Gradient Boosted Dec Trees,"(learning rate:0.06,maximum depth:2)",0.683240,0.675657,0.656740,0.620741,0.638233,0.739470,0.007583
15,Gradient Boosted Dec Trees,"(learning rate:0.4,maximum depth:6)",0.926613,0.667805,0.645560,0.619259,0.632136,0.738460,0.258808
16,Gradient Boosted Dec Trees,"(learning rate:0.04,maximum depth:2)",0.678120,0.672584,0.652854,0.618519,0.635223,0.736813,0.005536
17,Gradient Boosted Dec Trees,"(learning rate:0.1,maximum depth:2)",0.691091,0.679413,0.664006,0.616296,0.639262,0.742367,0.011678
18,Gradient Boosted Dec Trees,"(learning rate:0.6,maximum depth:6)",0.952554,0.662684,0.639445,0.614815,0.626888,0.724276,0.289871
19,Gradient Boosted Dec Trees,"(learning rate:0.6,maximum depth:4)",0.845944,0.685900,0.675081,0.614074,0.643134,0.733680,0.160044
20,Gradient Boosted Dec Trees,"(learning rate:0.4,maximum depth:4)",0.824895,0.675316,0.658964,0.612593,0.634933,0.746259,0.149579
21,Gradient Boosted Dec Trees,"(learning rate:0.6,maximum depth:2)",0.728297,0.670536,0.652415,0.610370,0.630693,0.739022,0.057761
22,Gradient Boosted Dec Trees,"(learning rate:0.01,maximum depth:6)",0.717374,0.678389,0.666395,0.605185,0.634317,0.749963,0.038985
23,Gradient Boosted Dec Trees,"(learning rate:0.01,maximum depth:4)",0.685061,0.664391,0.676953,0.520000,0.588186,0.741463,0.020670
24,Gradient Boosted Dec Trees,"(learning rate:0.01,maximum depth:2)",0.667539,0.655855,0.694318,0.452593,0.547982,0.727565,0.011684

### FEATURE IMPORTANCE

In [55]:
learnRate = 0.04
mDepth = 4

clf = GradientBoostingClassifier(learning_rate = learnRate, max_depth = mDepth, random_state = 0)
clf.fit(X_train, y_train)

feats = {} # a dict to hold feature_name: feature_importance
for feature, importance in zip(X_train.columns, clf.feature_importances_):
    feats[feature] = importance #add the name/value pair 
    #print (feature, importance)
    
x = pd.DataFrame(list(feats.items()),columns = ['Feature','Importance']) 

x = x.sort_values(by = 'Importance', ascending=False).reset_index(drop=True)

#for i in range(0, len(x)):
#    print (x["Feature"][i], x["Importance"][i].round(3))

x2 = x[x["Importance"] > 0.01]

importantfeatures = x2["Feature"].tolist()


x[:30]

                                          Feature  Importance
0                                   EstFeeLogNorm    0.302254
1                              ZoningFloorLogNorm    0.225215
2                                      FARLogNorm    0.076555
3                               DwellUnitsLogNorm    0.031193
4                                             501    0.022233
5                                      Mechanical    0.015730
6                                             404    0.015610
7                                             502    0.014618
8                                             503    0.013975
9                                       L_Through    0.013271
10                           General Construction    0.012393
11                                            312    0.010171
12                          S_Steel (Cold-Formed)    0.009784
13          Z_C_Contextual_Non_Contextual_General    0.009740
14                                       Plumbing    0.009150
15                                     O_BUSINESS    0.008545
16                                            407    0.008327
17                                            401    0.008206
18                         Enclosed Parking (Y/N)    0.008124
19                      O_UTILITY / MISCELLANEOUS    0.008114
20                                         Boiler    0.007791
21                                   O_MERCANTILE    0.007706
22                                     S_Masonary    0.007459
23                                            306    0.006866
24                                            403    0.006847
25                         Construction Equipment    0.006802
26                                            204    0.006674
27  Z_M_Light_R_Low_Medium_Density_Non_Contextual    0.006617
28                                         S_Wood    0.006095
29                                            107    0.005943

In [79]:
df3.to_csv(path + "Long Duration Job FINAL.csv", index=False)

### ANALYSIS ON HOLDOUT

In [56]:
X_train2 = X_train.copy()
y_train2 = y_train.copy()

y_hold2 = y_hold.copy()
X_hold2 = X_hold.copy()
X_hold2 = DropVars(X_hold2)
#X_hold2 = X_hold2.drop('Index', 1)
#X_hold2 = X_hold2.drop('Job Number', 1)
#X_hold2 = X_hold2.drop('BIN Number', 1)
#X_hold2 = X_hold2.drop('Borough Name', 1)
#X_hold2 = X_hold2.drop('Job Location House Number', 1)
#X_hold2 = X_hold2.drop('Job Location Street Name', 1)

#X_hold2 = DropFields(X_hold2)
print ("Training shape",X_train2.shape )
#X_hold_raw = X_hold.copy()
#X_hold2 = X_hold.copy()
#X_hold = df_hold.copy()
#y_hold2 = X_hold2["Outcome"]
#X_hold2 = X_hold2.drop('Outcome', 1)
#print ("Reducing number of features")
#X_hold2 = X_hold2[importantfeatures]
print ("Holdout shape",X_hold2.shape )


#Gradient Boosted Trees
clf = GradientBoostingClassifier(learning_rate = learnRate, max_depth = mDepth, random_state = 0)
#clf = MLPClassifier(hidden_layer_sizes = (70), max_iter=1000) 


clf.fit(X_train2, y_train2)

from sklearn.metrics import confusion_matrix
clf_predicted = clf.predict(X_hold2)
confusion = confusion_matrix(y_hold2, clf_predicted)
print ("Confusion Matrix")
print (confusion)


print ("Calculate predictions using best model")
result  =   clf.predict_proba(X_hold2)
#assign positive class probability predictions
    
X_hold2["PredProb"] = result[:,1]

X_hold2 = pd.concat([X_hold2, y_hold2], axis=1)

print ("create predicted outcome")
X_hold2["PredOutcome"] = 0

X_hold2["Index"] = X_hold2.index
X_hold2 = X_hold2.reset_index(drop=True)

for i in range(0, len(X_hold2)):
    if X_hold2["PredProb"][i] >= 0.5:
        X_hold2["PredOutcome"][i] = 1
        
print ("DONE")

#print (clf)
print ("Size of final test data (holdout data):", len(X_hold2))
print ("True positive:", sum(confusion[1]) )
print ("True negative:", sum(confusion[0]) )
print ("Correct Predictions:",confusion[1][1] )
print ("Percent correctly predicted:",round(float(confusion[1][1])/sum(confusion[1]), 2) )
print ("False negatives:", confusion[1][0])
print ("Percent false negatives:",  round(confusion[1][0]/sum(confusion[1]),2) )
print ("False positives:", confusion[0][1] )
print ("Percent false positives:", round(float(confusion[0][1])/len(X_hold2), 2) )

Training shape (8789, 111)
Holdout shape (2931, 111)
Confusion Matrix
[[1094  483]
 [ 506  848]]
Calculate predictions using best model
create predicted outcome
DONE
Size of final test data (holdout data): 2931
True positive: 1354
True negative: 1577
Correct Predictions: 848
Percent correctly predicted: 0.63
False negatives: 506
Percent false negatives: 0.37
False positives: 483
Percent false positives: 0.16

In [73]:
print ("Merge holdout datasets with predicted outcome with one with job number")
print ("X Holdout")
print (holdOrigData.shape, X_hold2.shape)
#print ("Y Holdout")
#print (y_hold.shape, y_hold2.shape)
mergeX_hold2 = X_hold2[["PredProb", "Outcome", "PredOutcome","Index"]]
print (mergeX_hold2.shape)
print (holdOrigData.shape)

#output_holdout = X_hold.copy()
holdOrigData = holdOrigData.reset_index(drop=True)
output_holdout = pd.concat([holdOrigData, mergeX_hold2], axis=1)

print (output_holdout.shape)

output_holdout = output_holdout.drop_duplicates(['Job Number']).reset_index(drop=True)

print (output_holdout.shape)


#output_holdout.to_csv(path + "Holdout Dataset Model Predictions.csv", index=False)

Merge holdout datasets with predicted outcome with one with job number
X Holdout
(2940, 28) (2940, 116)
(2940, 4)
(2940, 28)
(2940, 32)
(2940, 32)

In [82]:
#output_holdout.to_csv(path + "Long Dur Pred Holdout.csv", index=False)
X_hold2.to_csv(path + "Long Dur Pred Holdout.csv", index=False)

In [74]:
output_holdout

,Job Number,BIN Number,Borough Name,Job Location House Number,Job Location Street Name,Boiler,Mechanical,Plumbing,Standpipe,Construction Equipment,...,Yard Flag (Y/N),Floor Area Ratio (FAR) Floor Area,Stories Category,Applicant Name,Plan Exam Count,Outcome,PredProb,Outcome,PredOutcome,Index
0,421410100,4614995,Queens,124-12,5 AVE,0,1,1,0,1,...,Y,1800.0,Low Rise,FRANK PETRUSO,3.0,0,0.736592,1,1,11754
1,421410244,4297717,Queens,1148,VIRGINIA ST.,0,1,1,0,1,...,Y,5896.0,Low Rise,VINCENT SENA,2.0,0,0.710149,1,1,11755
2,421410299,4030239,Queens,41-30,66 STREET,1,1,1,0,1,...,Y,10933.0,Low Rise,CHANG HWA TAN,7.0,1,0.333488,1,0,11756
3,421410397,4081279,Queens,455,ONDERDONK AVE,0,1,1,0,1,...,Y,10221.0,Low Rise,CHANG HWA TAN,12.0,1,0.294782,1,0,11757
4,421410583,4466628,Queens,149,OCEANSIDE AVENUE,0,1,1,0,1,...,Y,2210.0,Low Rise,GARY LENHART,4.0,0,0.702393,1,1,11758
5,421410734,4801894,Queens,42-59,CRESCENT STREET,0,0,1,0,1,...,N,22080.0,High Rise,EMMANUEL KATERINIS,17.0,1,0.175920,0,0,11759
6,421410789,4267062,Queens,165-15,115 AVENUE,0,0,0,0,1,...,N,240.0,Low Rise,DAVID NAGAN,4.0,0,0.605177,0,1,11760
7,421411216,4541793,Queens,48-31,65 STREET,0,1,1,0,1,...,Y,7199.0,Low Rise,CHANG HWA TAN,3.0,0,0.370106,0,0,11761
8,421411225,4595496,Queens,48-33,65 STREET,0,1,1,0,1,...,Y,7199.0,Low Rise,CHANG HWA TAN,4.0,0,0.462352,0,0,11762
9,421411234,4543011,Queens,48-35,65 STREET,0,1,1,0,1,...,Y,7199.0,Low Rise,CHANG HWA TAN,3.0,0,0.598392,1,1,11763
10,421411243,4541794,Queens,48-37,65 STREET,0,1,1,0,1,...,Y,7199.0,Low Rise,CHANG HWA TAN,3.0,0,0.495589,1,0,11764
11,421411724,4252682,Queens,116-25,126 STREET,0,0,0,0,0,...,N,182.0,Low Rise,SAEED AINECHI,5.0,0,0.688176,1,1,11765
12,421412064,4615396,Queens,123-34,ROOSEVELT AVENUE,0,0,0,0,0,...,N,6940.0,Low Rise,MATHEW ROSSETTI,9.0,1,0.557526,0,1,11766
13,421412705,4617946,Queens,80-15,188TH STREET,0,0,0,0,1,...,Y,6857.0,Low Rise,GERALD CALIENDO,2.0,0,0.305497,0,0,11767
14,421413303,4169900,Queens,248-07,40 AVENUE,0,1,1,0,1,...,Y,1870.0,Low Rise,ARNOLD MONTAG,6.0,1,0.360266,0,0,11768
15,421413517,4594812,Queens,134-61,BEDELL STREET,0,0,1,0,0,...,Y,2105.0,Low Rise,SION HOURIZADEH,5.0,0,0.680973,1,1,11769
16,421413535,4623096,Queens,152-11,136 AVENUE,0,1,1,0,0,...,Y,2097.0,Low Rise,SION HOURIZADEH,3.0,0,0.324097,1,0,11770
17,421413606,4109854,Queens,32-11,156 STREET,0,0,0,0,1,...,Y,1.0,Low Rise,ZHONG REN,5.0,0,0.674990,0,1,11771
18,421413884,4464385,Queens,144,ROXBURY AVENUE,0,1,1,0,1,...,Y,1611.0,Low Rise,GARY LENHART,3.0,0,0.129758,0,0,11772
19,421414856,4224234,Queens,199-46,KENO AVENUE,0,1,1,0,1,...,Y,4114.0,Low Rise,ALBERT ARONOV,5.0,0,0.289550,0,0,11773
20,421415310,4623050,Queens,41-14,27 STREET,0,0,0,0,1,...,Y,2080.0,High Rise,ANTHONY NG,14.0,1,0.400350,0,0,11774
21,421415383,4169900,Queens,248-07,40TH AVENUE,0,0,1,0,0,...,Y,270.0,Low Rise,ARNOLD MONTAG,3.0,0,0.229733,0,0,11775
22,421415392,4616153,Queens,248-05,40TH AVENUE,0,0,1,0,0,...,Y,275.0,Low Rise,ARNOLD MONTAG,3.0,0,0.236473,1,0,11776
23,421415668,4215226,Queens,107-16,REMINGTON STREET,0,0,1,0,0,...,Y,2248.0,Low Rise,SHANEEKUA HENRY,3.0,0,0.307739,0,0,11777
24,421415677,4617233,Queens,145-07,167 STREET,0,0,1,0,0,...,Y,2815.0,Low Rise,SHANEEKUA HENRY,6.0,1,0.311979,0,0,11778
25,421415686,4201081,Queens,101-64,132 STREET,0,0,1,0,0,...,Y,2440.0,Low Rise,SHANEEKUA HENRY,5.0,0,0.523409,0,1,11779
26,421416177,4448736,Queens,125-09,101ST AVENUE,0,1,1,0,1,...,Y,3700.0,Low Rise,MEHRABAN AHOURAIE,6.0,1,0.112195,0,0,11780
27,421416382,4178687,Queens,81-59,265 STREET,0,0,1,0,1,...,N,200.0,Low Rise,ANAND SOLANKI,4.0,0,0.295223,0,0,11781
28,421416499,4000572,Queens,21-30,45 ROAD,0,1,1,0,1,...,Y,4910.0,Low Rise,ALEXANDER PAVLOTSKIY,17.0,1,0.460557,0,0,11782
29,421416738,4614965,Queens,46-33,BOWNE STREET,0,0,1,0,0,...,Y,287.0,Low Rise,CHANG HWA TAN,2.0,0,0.401427,0,0,11783
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2910,540188090,5861448,Staten Island,56,HALLISTER STREET,0,0,0,0,0,...,Y,5083.0,Low Rise,ANTOINE SAYAD,2.0,0,0.485374,1,0,14664
2911,540188116,5005622,Staten Island,573,CARY AVENUE,0,0,0,0,0,...,N,204.0,Low Rise,ALFRED SAULO,4.0,0,0.221347,0,0,14665
2912,540188189,5175210,Staten Island,5800,AMBOY RD,0,0,0,0,0,...,Y,3514.0,Low Rise,YONGHO KIM,5.0,0,0.529385,1,1,14666
2913,540188447,5000198,Staten Island,402,ST. MARKS PLACE,0,0,0,0,0,...,Y,979.0,Low Rise,MICHAEL DERUVO,10.0,1,0.436871,0,0,14667
2914,540188697,5174908,Staten Island,47,WIELAND AVENUE,0,0,0,0,0,...,Y,2645.0,Low Rise,TIMOTHY BOYLAND,8.0,1,0.670720,0,1,14668
2915,540191488,5174930,Staten Island,241,FREEBORN STREET,0,0,0,0,0,...,Y,2283.0,Low Rise,JEFFREY GEARY,2.0,0,0.617617,0,1,14669
2916,540191763,5855252,Staten Island,35,VAN DUZER STREET,0,0,0,0,0,...,Y,1857.0,Low Rise,MOHAMMAD BAALBAKI,3.0,0,0.296349,0,0,14670
2917,540194305,5175256,Staten Island,661,JOHNSTON TERRACE,0,0,0,0,0,...,Y,3342.0,Low Rise,LEONARD RAMPULLA,2.0,0,0.375058,0,0,14671
2918,540194421,5161953,Staten Island,157,LACONIA AVE,0,0,0,0,0,...,Y,2207.0,Low Rise,IGOR ZASLAVSKIY,4.0,0,0.499039,1,0,14672
2919,540194430,5108679,Staten Island,38,BARKER STREET,0,0,0,0,0,...,Y,1600.0,Low Rise,DANIEL RYAN,2.0,0,0.835012,1,1,14673
2920,540194458,5028553,Staten Island,116,NORTHFIELD AVENUE,0,0,0,0,0,...,Y,1920.0,Low Rise,DANIEL RYAN,2.0,0,0.336844,0,0,14674
2921,540195037,5174886,Staten Island,381,ALTER AVENUE,0,0,0,0,0,...,Y,1175.0,Low Rise,TIMOTHY BOYLAND,4.0,0,0.401536,0,0,14675
2922,540195046,5175183,Staten Island,381,ALTER AVE,0,0,0,0,0,...,Y,1483.0,Low Rise,TIMOTHY BOYLAND,4.0,0,0.592453,0,1,14676
2923,540195055,5175184,Staten Island,383,ALTER AVENUE,0,0,0,0,0,...,Y,1175.0,Low Rise,TIMOTHY BOYLAND,4.0,0,0.400649,1,0,14677
2924,540195064,5175185,Staten Island,383,ALTER AVE,0,0,0,0,0,...,Y,1483.0,Low Rise,TIMOTHY BOYLAND,4.0,0,0.671056,0,1,14678
2925,540195368,5174979,Staten Island,48,BURKE AVENUE,0,0,0,0,0,...,Y,1990.0,Low Rise,STANLEY KREBUSHEVSKI,2.0,0,0.689969,1,1,14679
2926,540195377,5174980,Staten Island,50,BURKE AVENUE,0,0,0,0,0,...,Y,1990.0,Low Rise,STANLEY KREBUSHEVSKI,2.0,0,0.276434,1,0,14680
2927,540195386,5174981,Staten Island,52,BURKE AVENUE,0,0,0,0,0,...,Y,1990.0,Low Rise,STANLEY KREBUSHEVSKI,3.0,0,0.213109,0,0,14681
2928,540195769,5174948,Staten Island,68GAR,CANTON AVENUE,0,0,0,0,0,...,N,1.0,Low Rise,STANLEY KREBUSHEVSKI,2.0,0,0.270453,0,0,14682
2929,540195778,5174946,Staten Island,66GAR,CANTON AVENUE,0,0,0,0,0,...,N,1.0,Low Rise,STANLEY KREBUSHEVSKI,2.0,0,0.735001,0,1,14683
2930,540195787,5175246,Staten Island,64GAR,CANTON AVENUE,0,0,0,0,0,...,N,1.0,Low Rise,STANLEY KREBUSHEVSKI,2.0,0,0.686155,1,1,14684
2931,540195956,5175208,Staten Island,2,HILLTOP ROAD,0,0,0,0,0,...,Y,3579.0,Low Rise,STANLEY KREBUSHEVSKI,3.0,0,0.286820,0,0,14685
2932,540195965,5175212,Staten Island,2 GARAGE,HILLTOP ROAD,0,0,0,0,0,...,N,1.0,Low Rise,STANLEY KREBUSHEVSKI,3.0,0,0.652466,1,1,14686
2933,540196768,5174953,Staten Island,67 GARAGE,HOLCOMB AVENUE,0,0,0,0,0,...,N,240.0,Low Rise,STANLEY KREBUSHEVSKI,3.0,0,0.459085,0,0,14687
2934,540196777,5174951,Staten Island,65 GARAGE,HOLCOMB AVENUE,0,0,0,0,0,...,N,240.0,Low Rise,STANLEY KREBUSHEVSKI,3.0,0,0.164571,0,0,14688
2935,540196786,5174949,Staten Island,63 GARAGE,HOLCOMB AVENUE,0,0,0,0,0,...,N,300.0,Low Rise,STANLEY KREBUSHEVSKI,2.0,0,0.716979,1,1,14689
2936,540197213,5028210,Staten Island,25,SOUTH AVENUE,0,0,0,0,0,...,Y,1911.0,Low Rise,DANIEL RYAN,2.0,0,0.460509,1,0,14690
2937,540197240,5174891,Staten Island,108,GIFFORDS LANE,0,0,0,0,0,...,Y,2957.0,Low Rise,PETER CALVANICO,3.0,0,0.448931,0,0,14691
2938,540197749,5175017,Staten Island,183 GAR,BENNETT AVENUE,0,0,0,0,0,...,N,299.0,Low Rise,STANLEY KREBUSHEVSKI,2.0,0,0.530311,1,1,14692
2939,540197758,5175019,Staten Island,181 GAR,BENNETT AVENUE,0,0,0,0,0,...,N,299.0,Low Rise,STANLEY KREBUSHEVSKI,2.0,0,0.563017,0,1,14693

In [340]:
#dfinal.dtypes[:50], dfinal.dtypes[50:100], dfinal.dtypes[100:150], dfinal.dtypes[150:]